*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #272727;
}


h1{
    font-size: 25px; 
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #272727;
}

.gray-f{
   color: #E6E6E6;
}

.bg-bll{
background-color: #272727;
}

.bg-grr{
    background-color: #EBEBEB;
}

.bf-ora{
    background-color: #B72F07;
}